@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap&family=Hammersmith+One&family=Oswald:wght@200;400&display=swap"');
:root {
    --primary: #DD9E01;
    --secondary: #FFD023;
    --logo2: #FFFFFF;
    --logo3: #4A4C4E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.overview {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/gib.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.hero {
    background-image: url("../img/career-portrait.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-position: bottom;
}

.profileStats {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
}

.container {
    min-height: 100vh;
    background-image: url("../img/gib.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
}

form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    width: 40%;
    background: #f1f1f1;
}

form input:nth-child(2) {
    width: 30%;
}

form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #ff9c00;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
}

form button:hover {
    background: #0b7dda;
}

form::after {
    content: "";
    clear: both;
    display: table;
}