@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap&family=Hammersmith+One&family=Oswald:wght@200;400&display=swap"');
:root {
    --primary: #DD9E01;
    --secondary: #FFD023;
    --logo2: #FFFFFF;
    --logo3: #4A4C4E;
    --primaryFont: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.overview {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/gib.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: var(--primaryFont);
    font-weight: 700;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.hero {
    /* background-image: url(https://d1u1mce87gyfbn.cloudfront.net/hero/reinhardt/career-portrait.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-position: bottom;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.profileStats {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
}

.competitiveStats {
    margin: 0 auto;
    width: 70%;
}

div:nth-child(2) {
    background: url(https://static.playoverwatch.com/img/crystal-candy-bg-top-e64823cff8.jpg) no-repeat top, url(https://static.playoverwatch.com/img/crystal-candy-bg-bottom-00cdaf6844.jpg) no-repeat bottom;
    background-color: #f6e9f0;
    color: #333333;
    display: flex;
}

div:nth-child(2) article {
    background: url(https://static.playoverwatch.com/img/hero-portrait-detailed/hero-portrait-detailed-bg-c659e0b7f6.jpg) no-repeat;
    background-repeat: no-repeat;
    background-position: 0% 90%;
    text-transform: uppercase;
    font-family: 'Ranchers', cursive;
    margin: .3rem .3rem;
    float: left;
    width: 180px;
}

div:nth-child(2) article h2 {
    color: #d0d0dc;
    letter-spacing: 2px;
    text-align: center;
    background: rgba(40, 53, 79, .9);
}

.container {
    min-height: 100vh;
    background-image: url("../img/gib.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
}

form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    width: 40%;
    background: #f1f1f1;
}

form input:nth-child(2) {
    width: 30%;
}

form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #ff9c00;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
}

form button:hover {
    background: #0b7dda;
}

form::after {
    content: "";
    clear: both;
    display: table;
}

.hide {
    display: none;
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader>img {
    width: 300px;
}

.loader.hidden {
    animation: fadeOut .3s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}